*{
    font-family: sans-serif;
}
header{
    display: flex;
    align-items: center;
}
header img{
    width: 100px;
}
a{
    color: black;
    text-decoration: none;
    margin: 0px 10px;
    
}
a:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
nav{
    margin-top: 30px;
}
main{
    margin-left: 10px;
}
section{
    text-align: center;
}
article{
    display: inline-block;
    width: 200px;
    padding: 10px;
    margin: 0px 10px 20px 10px;
    border: 2px black solid;
}
article .imageArticle{
    padding: 70px 40px;
    margin: 0;
    background-color: #8CBFEA;
}
article .rrpArticle{
    color: #8B8B8B;
    margin: 0;
}
article .pricePayArticle{
    margin: 0;
}
article .priceSavingArticle{
    color: #347B1E;
    margin: 0;
}

@media (max-width : 550px) {
    header{
        display: block;
        text-align: center;
    }
    header img{
        margin-bottom: 20px;
    }
    main h1{
        font-size: x-large;
    }
    article{
        width: 80%;
    }
}